{% extends 'chat/reset_password_templates/reset_password_base.html' %}

{% block content %}
    <div id="password-reset-content">
        <h1>Password reset</h1>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        
        <form method="POST" class="transition-activator">
            {% csrf_token %}
            {{ form.email.errors }}
            <div id="inputs">
                <input type="email" required name='email' class="form-control hover-scale" placeholder="Email">
                <input type="submit" value="Reset" class="btn btn-outline-light hover-scale">
            </div>
        </form>
    </div>
{% endblock %}