{% extends 'chat/reset_password_templates/reset_password_base.html' %}

{% block content %}
    <div id="password-reset-content">
        <h1>Set new password</h1>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        
        <form method="POST" class="transition-activator">
            {% csrf_token %}
            <input type="hidden" class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            {{ form.errors }}
            <label for="id_new_password1">New password</label>
            <input type="password" name="new_password1" id="id_new_password1" class="form-control hover-scale">
            <label for="id_new_password2">Confirm new password</label>
            <input type="password" name="new_password2" id="id_new_password2" class="form-control hover-scale">
            <br>
            <input type="submit" value="Confirm" class="btn btn-outline-light hover-scale" id="confirm-change-btn">
        </form>
    </div>
{% endblock %}