{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/chat/css/style.css' %}">

    <link rel="icon" href="{% static '/chat/img/message.ico' %}">
    {% block link %}{% endblock %}

    <title>Chat App{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- {% include 'chat/flying_messages.html' %} -->
    <a href="{% url 'index' %}" class="transition-activator" id="back-btn"><i class="fas fa-arrow-left"></i> Return</a>

    {% if messages %}
        <div class="popup success">
            <h4><i class="fas fa-check-circle"></i> Success</h4>
            {% for message in messages %}
                <b>{{message}}</b>
            {% endfor %}
        </div>
    {% endif %}
    
    {% if form.errors %}
        <div class="popup errors">
            <h4><i class="fas fa-exclamation-triangle"></i> Error occured</h4>
            <b>{{form.errors}}</b>
        </div>
    {% endif %}

    {% block header %}{% endblock %}

    {% block main %}{% endblock %}


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
  </body>
</html>