{% extends 'chat/base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static '/chat/css/chat_rooms.css' %} ">
{% endblock %}
{% block title %} | Chat Rooms {% endblock %}
{% block main %}
    <main class="flex-start">
        <div id="chat-room-list-and-filter">
            <div id="filter-input-container">
                <input type="text" id="filter-room-input" placeholder="Filter..." class="form-control hover-scale">
            </div>
            <div id="chat-room-list">

                <i id="add-chat-room-btn" class="fas fa-plus hover-scale"></i>
                <div id="filter-room-spinner"></div>

                <div id="rooms-list"></div>

            </div>
            <a href="{% url 'index' %}" class="transition-activator" id="back"><i class="fas fa-arrow-left hover-scale"></i> Return</a>
        </div>

        <div id="chat-room-content">
            {% if room_data %}
                <div id="chat-room-header" class="flex-between" room-pk="{{room_data.pk}}">
                    <span><b>{{room_data.name}}</b>{{room_data.members}}</span>
                    <i class="fas fa-door-open hover-scale" id="leave-room-btn"></i>
                    <div id="fetch-msg-spinner"></div>
                </div>
                
                <div id="messages" my-pk="{{request.user.pk}}"></div>

                <div id="message-input-panel" class="flex-evenly hidden">
                    <span id="new-msg-btn" class="hidden">New Message <i class="fas fa-arrow-circle-down"></i></span>
                    {% csrf_token %}
                    <input id="msg-img" name="msg-file" type="file">
                    <textarea name="msg-text" id="msg-text" cols="100" rows="2" class="form-control w-75"></textarea>
                    <button id="send-btn" class="hover-scale btn btn-dark"><i class="fas fa-paper-plane"></i></button>
                </div>
            {% else %}
            <div id="lobby">
                {% include 'chat/flying_messages.html' %}
            </div>
            {% endif %}
        </div>
    </main>

    <div id="dark" class=""></div>
    <div id="create-room-panel">
        <h2 class="flex-between">
            <span>Create Room</span>
            <i class="fas fa-times hover-scale" id="close-create-room-btn"></i>
        </h2>
        <form action="{% url 'create_room' %}" method="POST" class="transition-activator">
            {% csrf_token %}
            <label>{{form.name.label}}</label>
            {{form.name}} <br>
            <h2 class="flex-between">
                <span>Select friends</span> 
                <div id="filter-spinner"></div>
                <input type="text" id="filter-friends" placeholder="Filter..." class="form-control w-50">
            </h2>
            <span class="btn btn-outline-dark hover-scale" id="uncheck-btn">Uncheck all</span>
            <div id="friends-selection">
                {% if room_friends %}
                    {% for friend in room_friends %}
                        <div class="form-check flex-start add-friend-record" id="add-friend-{{friend.pk}}">
                            <input class="form-check-input hover-scale" type="checkbox" value="{{friend.pk}}" name="friends">
                            <label class="form-check-label">
                                {% if friend.profile_img %}
                                    <img src="{{friend.profile_img.url}}" class="user-portrait"/>
                                {% else %}
                                    <img class="user-portrait" src="{% static '/chat/img/default_profile.png' %}" >
                                {% endif %}
                                <span>{{friend.username}}</span>
                            </label>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No friends available.</p>
                {% endif %}
            </div>
            <br>
            <input type="submit" value="Create" class="btn btn-outline-dark hover-scale">
        </form>
    </div>

    {% if room_data %}
        <div id="leave-room-panel">
            <h2>Leave room</h2>
            <p>Are you sure you want to leave this room?</p>
            <form action="{% url 'leave_room' room_data.pk %}" method="POST" class="transition-activator">
                {% csrf_token %}
                <input type="submit" value="Yes" class="btn btn-outline-dark">
            </form>
            <button id="cancel-leave-btn" class="btn btn-outline-dark">No</button>
        </div>
    {% endif %}
    
    {% include 'chat/transition-in.html' %}
    {% include 'chat/transition-out.html' %}

{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static '/chat/js/create_room_form.js' %}"></script>
    <script src="{% static '/chat/js/filter_rooms.js' %}"></script>
    <script src="{% static '/chat/js/fetch_rooms.js' %}"></script>
    {% if room_data %}
        <script src="{% static '/chat/js/send_message.js' %}"></script>
        <script src="{% static '/chat/js/fetch_messages.js' %}"></script>
        <script src="{% static '/chat/js/leave_room.js' %}"></script>
    {% endif %}
{% endblock %}