{% extends 'chat/base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static '/chat/css/chat_rooms.css' %} ">
{% endblock %}
{% block title %} | Chat Rooms {% endblock %}
{% block main %}
    <main class="flex-start">
        <div id="chat-room-list-and-filter">
            <div id="filter-input-container">
                <input type="text" id="filter-room-input" placeholder="Filter..." class="form-control hover-scale">
            </div>
            <div id="chat-room-list">

                <i id="add-chat-room-btn" class="fas fa-plus hover-scale"></i>
                <div id="filter-room-spinner"></div>

                {% for room in rooms %}
                    <a href="{% url 'chat_rooms' room.pk %}" class="chat-room-record-a transition-activator">
                        <div class="chat-room-record" id="room-record-{{room.pk}}">
                            <p class="chat-room-record-name"><b>{{room.name}}</b> <span class="chat-room-record-users-count">({{room.members.count}} users)</span></p>
                            <div class="chat-preview flex-start">
                                {% if room.message_set.all.0.sender.profile_img %}
                                    <img src="{{room.message_set.all.0.sender.profile_img.url}}" class="user-portrait">
                                {% else %}
                                    <img class="user-portrait" src="{% static '/chat/img/default_profile.png' %}"/>
                                {% endif %}
                                <div class="flex-between-column">
                                    <span class="chat-room-record-username"><b>{{room.message_set.all.0.sender.username}}</b> <i>{{room.message_set.all.0.created_at}}</i></span>
                                    <span class="chat-room-record-message">{{room.message_set.all.0.text|slice:"0:25"}}...</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>
            <a href="{% url 'index' %}" class="transition-activator" id="back"><i class="fas fa-arrow-left hover-scale"></i> Return</a>
        </div>

        <div id="chat-room-content">
            {% if room %}
                <div id="chat-room-header" class="flex-between" room-pk="{{room.pk}}">
                    <span><b>{{room.name}}</b>
                        ({% for member in room.members.all %}
                            {{member.username}}
                        {% endfor %})
                    </span>
                    <i class="fas fa-door-open hover-scale"></i>
                </div>
                
                <div id="messages">
                    {% for message in room.message_set.all reversed %}
                        <div class="message hover-scale {% if message.sender.pk == user.profile.pk %} user-message {% else %} friend-message {% endif %}">
                            <p>
                                {% if message.sender.profile_img %}
                                    <img src="{{message.sender.profile_img.url}}" class="user-portrait">
                                {% else %}
                                    <img src="{% static '/chat/img/default_profile.png' %}" class="user-portrait">
                                {% endif %}
                                <span class="chat-room-record-username"><b>{{message.sender.username}}</b> <i>{{message.created_at}}</i></span>
                            </p>
                            <hr>
                            <p class="message-text">{{message.text}}</p>
                            {% if message.attached_img %}
                                <img class="message-img" src="{{message.attached_img.url}}" alt="">
                            {% endif %}
                            <div class="message-likes">
                                <i class="fas fa-heart"></i>
                                <span class="likes-count">{{message.likes}}</span>
                            </div>
                        </div>
                    {% endfor %} 
                </div>

                <div id="message-input-panel" class="flex-evenly hidden">
                    {% csrf_token %}
                    <input id="msg-img" name="msg-file" type="file">
                    <textarea name="msg-text" id="msg-text" cols="100" rows="2" class="form-control w-75"></textarea>
                    <button id="send-btn" class="hover-scale btn btn-dark"><i class="fas fa-paper-plane"></i></button>
                </div>
            {% else %}
            <div id="lobby">
                {% include 'chat/flying_messages.html' %}
            </div>
            {% endif %}
        </div>
    </main>

    <div id="dark" class=""></div>
    <div id="create-room-panel">
        <h2 class="flex-between">
            <span>Create Room</span>
            <i class="fas fa-times hover-scale" id="close-create-room-btn"></i>
        </h2>
        <form action="{% url 'create_room' %}" method="POST" class="transition-activator">
            {% csrf_token %}
            <label>{{form.name.label}}</label>
            {{form.name}} <br>
            <h2 class="flex-between">
                <span>Select friends</span> 
                <div id="filter-spinner"></div>
                <input type="text" id="filter-friends" placeholder="Filter..." class="form-control w-50">
            </h2>
            <span class="btn btn-outline-dark hover-scale" id="uncheck-btn">Uncheck all</span>
            <div id="friends-selection">
                {% if room_friends %}
                    {% for friend in room_friends %}
                        <div class="form-check flex-start add-friend-record" id="add-friend-{{friend.pk}}">
                            <input class="form-check-input hover-scale" type="checkbox" value="{{friend.pk}}" name="friends">
                            <label class="form-check-label">
                                {% if friend.profile_img %}
                                    <img src="{{friend.profile_img.url}}" class="user-portrait"/>
                                {% else %}
                                    <img class="user-portrait" src="{% static '/chat/img/default_profile.png' %}" >
                                {% endif %}
                                {{friend.username}}
                            </label>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No friends available.</p>
                {% endif %}
            </div>
            <br>
            <input type="submit" value="Create" class="btn btn-outline-dark hover-scale">
        </form>
    </div>
    
    {% include 'chat/transition-in.html' %}
    {% include 'chat/transition-out.html' %}

{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static '/chat/js/create_room_form.js' %}"></script>
    <script src="{% static '/chat/js/filter_rooms.js' %}"></script>
    <script src="{% static '/chat/js/send_message.js' %}"></script>
    <script>
        (function(){
            const messages = document.querySelector('#messages');
            if (messages) messages.scrollTop = messages.scrollHeight;
        })();
    </script>
{% endblock %}