{% extends 'chat/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/chat/css/friends.css' %}">
{% endblock %}

{% block title %} | Friends {% endblock %}

{% block header %}
    <header>
        <h1>Friends</h1>
    </header>
{% endblock %}

{% block main %}
    <main class="flex-evenly">
        {% csrf_token %}
        <div id="search-friends" class="friends-section">
            <h2>Search</h2>
            <div class="flex-between">
                <input id="search-input" type="text" class="form-control w-75 hover-scale" placeholder="Enter friend's username...">
                <div id="spinner"></div>
            </div>
            <div id="search-results"></div>
        </div>
        <div id="my-friends" class="friends-section">
            <h2>My Friends (<span id="friends-count">{{friends.count}}</span>)</h2>
            {% for friend in friends %}
                <div class="friend-record flex-between">
                    <div>
                        {% if friend.profile_img %}
                            <img src="{{friend.profile_img.url}}"/>
                        {% else %}
                            <img src="{% static '/chat/img/default_profile.png' %}">
                        {% endif %}
                        <span>{{friend.username}}</span>
                    </div>
                    <i class="delete-btn fas fa-minus hover-scale" 
                    del-username="{{friend.username}}" del-id="{{friend.pk}}"></i>
                </div>
            {% endfor %}
        </div>
        <div id="invitations" class="friends-section">
            <h2>Invitations (<span id="invitations-count">{{invitations.count}}</span>)</h2>
            {% if invitations %}
                {% for invitation in invitations %}
                    <div class="invitation" id="invitation-{{invitation.send_by.pk}}">
                        <div class="flex-between">
                            <div>
                                {% if invitation.send_by.profile_img %}
                                    <img src="{{invitation.send_by.profile_img.url}}"/>
                                {% else %}
                                    <img src="{% static '/chat/img/default_profile.png' %}">
                                {% endif %}
                                <span>{{invitation.send_by.username}}</span>
                            </div>
                            <div class="flex-center">
                                <i class="fas fa-check accept hover-scale" invite-id="{{invitation.send_by.pk}}"></i>
                                <i class="fas fa-times decline hover-scale" invite-id="{{invitation.send_by.pk}}"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p id="no-invitations">No pending invitations.</p>
            {% endif %}
        </div>

    </main>
    
    <div id="dark"></div>
    <div id="confirm-delete">
        <h2>Delete friend</h2>
        <p>Are you sure you want to delete <span id="delete-username">username</span> from your friends list?</p>
        <i id="confirm-delete-btn" class="fas fa-check hover-scale"></i>
        <i id="cancel-delete-btn" class="fas fa-times hover-scale"></i>
    </div>


    <a href="{% url 'index' %}" class="transition-activator hover-scale" id="back-btn"><i class="fas fa-arrow-left"></i> Return</a>
    {% include 'chat/transition-in.html' %}
    {% include 'chat/transition-out.html' %}
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static '/chat/js/search.js' %}"></script>
    <script src="{% static '/chat/js/invitations.js' %}"></script>
    <script src="{% static '/chat/js/delete.js' %}"></script>
{% endblock %}