{% extends 'chat/login_register_base.html' %}

{% block meta %}{% endblock %}

{% block link %}{% endblock %}

{% block title %} | Log In{% endblock %}

{% block title2 %} | Log In {% endblock %}

{% block main %}
    <form action="" method="POST">
        {% csrf_token %}

        <label>{{form.username.label}}</label>
        {{form.username}}
        <br>
        <label>{{form.password.label}}</label>
        {{form.password}}
        <br>

        <input type="submit" value="Log In" class="btn btn-outline-light"> <br><br><br>
        <div id="form-links">
            <a href="{% url 'register' %}" class="btn btn-outline-light">No account yet? Sign up</a>
            <a href="#" class="btn btn-outline-light">Forgot password?</a>
        </div>
    </form>

{% endblock %}

{% block script %}{% endblock %}

