<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}

        <div id="errors">
            {% for field in form %}
                {% if field.errors %}
                    <b style="color: red;">[{{field.label}}]</b>
                    <ul style="color: red;">
                        {% for error in field.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>

        {{form.username.label}}
        {{form.username}}
        <br>
        {{form.first_name.label}}
        {{form.first_name}}
        <br>
        {{form.last_name.label}}
        {{form.last_name}}
        <br>
        {{form.email.label}}
        {{form.email}}
        <br>
        {{form.password1.label}}
        {{form.password1}}
        <br>
        {{form.password2.label}}
        {{form.password2}}
        <br>
        
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="{% url 'login' %}">Already have an account? Log in</a>
</body>
</html>