{% extends 'chat/login_register_base.html' %}

{% block meta %}{% endblock %}

{% block link %}{% endblock %}

{% block title %} | Register{% endblock %}

{% block title2 %} | Register {% endblock %}

{% block main %}
    
    <form action="" method="POST" class="transition-activator">
        {% csrf_token %}

        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.first_name.label}}</label>
        {{form.first_name}}
        <label>{{form.last_name.label}}</label>
        {{form.last_name}}
        <label>{{form.email.label}}</label>
        {{form.email}}
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <br>
        
        <input type="submit" value="Submit" class="btn btn-outline-light">
    </form>
    <a href="{% url 'login' %}" class="transition-activator" id="back-btn"><i class="fas fa-arrow-left"></i> Already have an account?</a>
{% endblock %}

{% block script %}{% endblock %}



