{% load static %}

<style>
    svg#transition-out {
        /* animation: expand 1s ease; */

        z-index: 1000;
        transform-origin: center;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateX(-50%) translateY(50%) scale(0);
    }

    @keyframes expand {
        from {
            transform: translateX(-50%) translateY(50%) scale(0);
        } to {
            transform: translateX(-50%) translateY(50%) scale(55);
        }
    }
</style>

<svg id="transition-out" height="100" width="100">
    <circle cx="50" cy="50" r="40" fill="white" />
</svg>

<script>
    (function(){
        const transitionActivators = document.querySelectorAll('.transition-activator');
        const transition = document.querySelector('#transition-out');

        const addTransitionEvent = function(activator, eventName) {
            activator.addEventListener(eventName, function() {
                transition.style.animation = 'expand 1s ease';
                transition.addEventListener('animationend', function(){
                    transition.style.transform = 'translateX(-50%) translateY(50%) scale(55)';
                })
            })
        } 

        transitionActivators.forEach( function(activator) {
            if (activator.tagName == 'FORM') addTransitionEvent(activator, 'submit');
            else if (activator.tagName == 'A') addTransitionEvent(activator, 'click');
        })

    })();
</script>
