div#chat-room-list-and-filter {
  width: 20vw;
  background: rgba(199, 199, 199, 0.404);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

div#filter-input-container {
  padding: 1rem 2rem 1rem 2rem;
  background: #3d3d3d;
}

div#filter-input-container input {
  width: 90%;
  margin: auto;
}

div#chat-room-list {
  position: relative;
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

div#chat-room-list i#add-chat-room-btn {
  top: 1rem;
  right: 1rem;
  position: absolute;
  padding: .5rem .6rem .5rem .6rem;
  border-radius: .5rem;
  background: #96ff7c;
  color: white;
}

div#chat-room-list div#filter-room-spinner {
  position: absolute;
  top: 0.4rem;
  left: 50%;
  color: #d4d4d4;
  font-size: 1.6rem;
}

div#chat-room-list div#filter-room-spinner i.spinning {
  -webkit-animation: spin .75s ease infinite;
          animation: spin .75s ease infinite;
}

a.chat-room-record-a {
  text-decoration: none;
  color: black;
}

a.chat-room-record-a.hidden {
  display: none;
}

div.chat-room-record {
  background: white;
  padding: 1rem;
  border-bottom: 1px solid #d4d4d4;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

div.chat-room-record:hover {
  background: cornflowerblue;
  color: white;
}

div.chat-room-record.hidden {
  display: none;
}

a#back {
  text-align: center;
  padding: 1rem;
  background: #3d3d3d;
  text-decoration: none;
  color: white;
}

a#back i {
  -webkit-animation: back-btn 1s linear infinite;
          animation: back-btn 1s linear infinite;
}

img.user-portrait {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 2px solid white;
}

div#chat-room-content {
  width: 80vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

div#chat-room-header {
  background: rgba(0, 0, 0, 0.329);
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: relative;
}

div#chat-room-header b {
  font-size: 1.6rem;
  margin-right: 1rem;
}

div#chat-room-header i#leave-room-btn {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
}

div#chat-room-header div#fetch-msg-spinner {
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-size: 1.6rem;
}

div#chat-room-header div#fetch-msg-spinner i.spinning {
  -webkit-animation: spin .75s ease infinite;
          animation: spin .75s ease infinite;
}

div#messages, div#lobby {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

div.message {
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  width: 40rem;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
  overflow: hidden;
}

div.message:hover {
  z-index: 10;
}

div.message p.message-text {
  text-align: justify;
}

div.message img.message-img {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid white;
  margin-bottom: 1rem;
}

div.message div.message-likes {
  background: white;
  padding: .5rem;
}

div.message div.message-likes i {
  color: #ff5f5f;
}

div.message.user-message {
  background: white;
  margin-right: 1rem;
  margin-left: auto;
}

div.message.user-message div.message-likes {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #64afed;
  color: white;
  border-top-right-radius: 1rem;
}

div.message.friend-message {
  background: #64afed;
  color: white;
}

div.message.friend-message div.message-likes {
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  border-top-left-radius: 1rem;
}

div#message-input-panel {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.329);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.3) 5px 5px;
  position: relative;
}

div#message-input-panel span#new-msg-btn {
  position: absolute;
  top: -40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: #64afed;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  z-index: 11;
  -webkit-animation: new-msg-btn 5s ease infinite;
          animation: new-msg-btn 5s ease infinite;
}

div#message-input-panel span#new-msg-btn:hover {
  background: #90c7f5;
  cursor: pointer;
}

div#message-input-panel span#new-msg-btn.hidden {
  display: none;
}

div#message-input-panel input::-webkit-file-upload-button {
  display: inline;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 8rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #3d3d3d;
  padding: .25rem .5rem .25rem .5rem;
  border-radius: 5px;
  color: white;
  border: none;
}

div#message-input-panel input::-webkit-file-upload-button:hover, div#message-input-panel input::-webkit-file-upload-button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

div#message-input-panel textarea {
  padding: 1rem;
  width: 40rem;
  margin-right: 4rem;
}

div#message-input-panel button {
  width: 5rem;
  height: 3rem;
  margin: auto;
}

div#dark {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 12;
  opacity: 0;
  pointer-events: none;
}

div#dark.active {
  opacity: 1;
  pointer-events: all;
}

div#create-room-panel {
  width: 40rem;
  padding: 2rem;
  background: white;
  border-radius: 3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem;
          box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 12;
  position: fixed;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

div#create-room-panel.active {
  top: 10%;
}

div#create-room-panel div#filter-spinner {
  width: 2rem;
}

div#create-room-panel div#filter-spinner i.spinning {
  font-size: 2rem;
  -webkit-animation: spin .5s ease infinite;
          animation: spin .5s ease infinite;
}

div#create-room-panel span#uncheck-btn {
  margin-bottom: 0.5rem;
}

div#create-room-panel div#friends-selection {
  max-height: 10rem;
  overflow-y: auto;
}

div#create-room-panel div#friends-selection div.add-friend-record.hidden {
  display: none;
}

div#create-room-panel img {
  border: 2px solid #d8d8d8;
  margin: 0rem 1rem 0.5rem 1rem;
}

div#create-room-panel input[type="submit"] {
  width: 50%;
  display: block;
  margin: auto;
}

div#leave-room-panel {
  width: 30rem;
  padding: 2rem;
  background: white;
  border-radius: 3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem;
          box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 12;
  position: fixed;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

div#leave-room-panel.active {
  top: 10%;
}

div#leave-room-panel form {
  display: inline;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes new-msg-btn {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  2% {
    -webkit-transform: translateX(-50%) translateY(-12px);
            transform: translateX(-50%) translateY(-12px);
  }
  4% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  6% {
    -webkit-transform: translateX(-50%) translateY(-8px);
            transform: translateX(-50%) translateY(-8px);
  }
  8% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes new-msg-btn {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  2% {
    -webkit-transform: translateX(-50%) translateY(-12px);
            transform: translateX(-50%) translateY(-12px);
  }
  4% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  6% {
    -webkit-transform: translateX(-50%) translateY(-8px);
            transform: translateX(-50%) translateY(-8px);
  }
  8% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=chat_rooms.css.map */