* {
    color: white;
}

header {
    padding: 2rem;
    h1 {
        font-size: 5rem;
        animation: title-slide-in 1s ease;
    }
}

main {

    div.friends-section {
        width: 35rem;
        height: 40rem;
        border-right: 2px solid white;;

       padding-left: 2rem;
       padding-right: 2rem;
    }

    div.friends-section:last-child {
        border: none;
    }

    div#search-results {
        overflow-y: auto;
        padding-top: 1rem;

        div.result {
            padding: 1rem 2rem 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;

            img {
                width: 4rem;
                border: 3px solid white;
                border-radius: 50%;
            }

            span {
                margin-left: 1rem;
            }

            i {
                background: rgb(130, 248, 126);
                padding: 0.5rem;
                border-radius: 7px;
                margin-left: 5rem;

                &.disabled {
                    pointer-events: none;
                }

                &.accepted {
                    background: rgb(192, 192, 192);
                }

                &.pending {
                    background: rgb(77, 144, 245);
                }
            }


        }
    }
}

input#search-input, #filteer-input {
    display: block;
    margin: 0;
}

div#spinner, div#filter-spinner {
    width: 2rem;
}

i.spinning {
    font-size: 2rem;
    animation: spin .5s ease infinite;
}

p#no-results, p#no-invitations {
    padding: 2rem;
}

img.flying-invitation {
    transform: rotateZ(-45deg);
    width: 4rem;
    position: absolute;
    bottom: -5rem;
    left: 0;

    animation: flying-invitation 2s ease;
}

div.friend-record {
    padding: 2rem 2rem 0rem 2rem;
    transition: all 0.3s ease;
    width: 100%;
    img {
        width: 4rem;
        border: 3px solid white;
        border-radius: 50%;
    }
    span {
        margin-left: 1rem;
    }

    i {
        background: rgb(247, 80, 80);
        padding: .5rem .6rem .5rem .6rem;
        border-radius: 7px;
        transition: all 0.3s ease;
        opacity: 0;
        pointer-events: none;
    }

    &:hover i {
        opacity: 1;
        pointer-events: all;
    }

    &.hidden {
        display: none;
    }
}

div#invitations {
    div.invitation {
        padding: 2rem 2rem 0rem 2rem;
        img {
            width: 4rem;
            border: 3px solid white;
            border-radius: 50%;
        }
        span {
            margin-left: 1rem;
        }

        i.accept {
            background: rgb(130, 248, 126);
            padding: 0.5rem;
            border-radius: 7px;
            margin-left: 1rem;
        }

        i.decline {
            background: rgb(247, 80, 80);
            padding: .5rem .6rem .5rem .6rem;
            border-radius: 7px;
            margin-left: .5rem;
        }
    }
}

div#dark {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    z-index: 10;

    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

div#confirm-delete {
    background: white;
    border-radius: 2rem;
    box-shadow: rgb(177, 177, 177) 10px 10px;
    z-index: 11;
    width: 35rem;
    padding: 2rem;
    position: fixed;
    top: -20%;
    left: 50%;
    transition: all 0.3s ease;
    transform: translateX(-50%) translateY(-50%);
    
    h2, p, span {
        color: rgb(168, 168, 168);
    }

    span {
        font-weight: bold;
    }

    i#confirm-delete-btn {
        background: rgb(130, 248, 126);
        padding: 0.5rem;
        border-radius: 7px;
    }

    i#cancel-delete-btn {
        background: rgb(247, 80, 80);
        padding: .5rem .6rem .5rem .6rem;
        border-radius: 7px;
    }

    &.active {
        top: 40%;
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes flying-invitation {
    from {
        bottom: -5rem;
        left: 0;
    }
    to {
        bottom: 120%;
        left: 80%;
    }
}

@keyframes title-slide-in {
    0% {
        margin-left: -25%;
    }
    50% {
        margin-left: -25%;
    }
    100% {
        margin-left: none;
    }
}

@keyframes shrink-record {
    from {
        transform: scale(1);
    } to {
        transform: scale(0);
    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width:900px) {
    html {
        font-size: 65%;
    }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 50%;
    }
}