* {
  color: white;
}

header {
  padding: 2rem;
}

header h1 {
  font-size: 5rem;
  -webkit-animation: title-slide-in 1s ease;
          animation: title-slide-in 1s ease;
}

main div.friends-section {
  width: 35rem;
  height: 40rem;
  border-right: 2px solid white;
  padding-left: 2rem;
  padding-right: 2rem;
}

main div.friends-section:last-child {
  border: none;
}

main div#search-results {
  overflow-y: auto;
  padding-top: 1rem;
}

main div#search-results div.result {
  padding: 1rem 2rem 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

main div#search-results div.result img {
  width: 4rem;
  border: 3px solid white;
  border-radius: 50%;
}

main div#search-results div.result span {
  margin-left: 1rem;
}

main div#search-results div.result i {
  background: #82f87e;
  padding: 0.5rem;
  border-radius: 7px;
  margin-left: 5rem;
}

main div#search-results div.result i.disabled {
  pointer-events: none;
}

main div#search-results div.result i.accepted {
  background: silver;
}

main div#search-results div.result i.pending {
  background: #4d90f5;
}

input#search-input, #filteer-input {
  display: block;
  margin: 0;
}

div#spinner, div#filter-spinner {
  width: 2rem;
}

i.spinning {
  font-size: 2rem;
  -webkit-animation: spin .5s ease infinite;
          animation: spin .5s ease infinite;
}

p#no-results, p#no-invitations {
  padding: 2rem;
}

img.flying-invitation {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  width: 4rem;
  position: absolute;
  bottom: -5rem;
  left: 0;
  -webkit-animation: flying-invitation 2s ease;
          animation: flying-invitation 2s ease;
}

div.friend-record {
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
}

div.friend-record img {
  width: 4rem;
  border: 3px solid white;
  border-radius: 50%;
}

div.friend-record span {
  margin-left: 1rem;
}

div.friend-record i {
  background: #f75050;
  padding: .5rem .6rem .5rem .6rem;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

div.friend-record:hover i {
  opacity: 1;
  pointer-events: all;
}

div#invitations div.invitation {
  padding: 2rem 2rem 0rem 2rem;
}

div#invitations div.invitation img {
  width: 4rem;
  border: 3px solid white;
  border-radius: 50%;
}

div#invitations div.invitation span {
  margin-left: 1rem;
}

div#invitations div.invitation i.accept {
  background: #82f87e;
  padding: 0.5rem;
  border-radius: 7px;
  margin-left: 1rem;
}

div#invitations div.invitation i.decline {
  background: #f75050;
  padding: .5rem .6rem .5rem .6rem;
  border-radius: 7px;
  margin-left: .5rem;
}

div#dark {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
}

div#dark.active {
  opacity: 1;
  pointer-events: all;
}

div#confirm-delete {
  background: white;
  border-radius: 2rem;
  -webkit-box-shadow: #b1b1b1 10px 10px;
          box-shadow: #b1b1b1 10px 10px;
  z-index: 11;
  width: 35rem;
  padding: 2rem;
  position: fixed;
  top: -20%;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

div#confirm-delete h2, div#confirm-delete p, div#confirm-delete span {
  color: #a8a8a8;
}

div#confirm-delete span {
  font-weight: bold;
}

div#confirm-delete i#confirm-delete-btn {
  background: #82f87e;
  padding: 0.5rem;
  border-radius: 7px;
}

div#confirm-delete i#cancel-delete-btn {
  background: #f75050;
  padding: .5rem .6rem .5rem .6rem;
  border-radius: 7px;
}

div#confirm-delete.active {
  top: 40%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes flying-invitation {
  from {
    bottom: -5rem;
    left: 0;
  }
  to {
    bottom: 120%;
    left: 80%;
  }
}

@keyframes flying-invitation {
  from {
    bottom: -5rem;
    left: 0;
  }
  to {
    bottom: 120%;
    left: 80%;
  }
}

@-webkit-keyframes title-slide-in {
  0% {
    margin-left: -25%;
  }
  50% {
    margin-left: -25%;
  }
  100% {
    margin-left: none;
  }
}

@keyframes title-slide-in {
  0% {
    margin-left: -25%;
  }
  50% {
    margin-left: -25%;
  }
  100% {
    margin-left: none;
  }
}

@-webkit-keyframes shrink-record {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes shrink-record {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=friends.css.map */