header {
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span{
        font-family: 'Righteous', cursive;
        color: white;
        font-size: 8rem;
        margin-left: 3rem;

        &#title2 {
            font-family: 'Roboto', sans-serif;
            animation: fade-in 2s ease;
            font-size: 6rem;
        }
    }

    img {
        transform-origin: center;
        animation: rotate-logo 6s infinite;
        width: 10rem;
    }
}

main {
    form {
        width: 25rem;
        font-family: 'Roboto', sans-serif;
        margin-left: 20rem;
        animation: form-slide 1s ease;

        label {
            color: white;
            font-weight: bold;
        }

        input {
            transition: all 0.3s ease !important;

            &:focus, &:hover {
                transform: scale(1.1);
            }
        }

        input[type='submit']{
            width: 60%;
            margin: auto;
            display: block;
            margin: auto;
        }

        
    }
}
  
a#github-link {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    color: white;
    text-decoration: none;
    
    i {
        font-size: 3rem;
    }
}

// KEYFRAMES

@keyframes rotate-logo{
    0%{
        transform: rotateX(0) rotateZ(45deg);
    }
    33%{
        transform: rotateX(360deg) rotateZ(45deg);
    }
    66% {
        transform: rotateX(360deg) rotateY(0) rotateZ(45deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(45deg);
    }
}



@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes form-slide {
    from {
        margin-left: -100%;
    } to {
        margin-left: 20rem;
    }
}

@keyframes error-dingle {
    0% {
        transform: translateY(15px);
    }
    33% {
        transform: translateY(0px);
    }
    66% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
    
}

// MEDIA

@media screen and (max-width: 1200px) {
    html {
        font-size: 70%;
    }   
}

@media screen and (max-width: 900px) {
    html {
        font-size: 60%;
    }   
}
