* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hover-scale {
    transition: all 0.3s ease;

    &:hover, &:focus {
        transform: scale(1.1);
    }
}

a#back-btn {
    color: white;
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    text-decoration: none; 
    font-size: 1.2rem;

    i {
        animation: back-btn 1s infinite linear;
    }
}

@keyframes back-btn {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}