@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}


.hover-scale {
    transition: all 0.3s ease;

    &:hover, &:focus {
        transform: scale(1.1);
    }
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a#back-btn {
    color: white;
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    text-decoration: none; 
    font-size: 1.2rem;

    i {
        animation: back-btn 1s infinite linear;
    }
}

@keyframes back-btn {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


